@model IEnumerable<Pizza>

<div class="flex">
    @foreach (var pizza in Model)
    {
        <div class="flex-item">
            <div class="product_img"><img class="img_photo" src="@pizza.Photo" /></div>
            <div class="product_name">
                @pizza.Name
            </div>
            <div class="product-text">
                @pizza.Desc
            </div>
            <div class="pizza-size">
                <div class="product-item">@pizza.Size1</div>

                <div class="product-item active">@pizza.Size2</div>
                <div class="product-item">@pizza.Size3</div>
            </div>
            <div class="product_price_btn">
                <div class="product_price">
                    @pizza.Price
                    <span>&#8381</span>
                </div>
                <div class="product_weight">@pizza.Weight</div>
                <div class="product_half">1/2</div>
                <div class="product_btn">В корзину</div>
            </div>
        </div>
    }

</div>